<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to Organization.model_name.human(count: 2), url_for(Organization) %></li>
    <li class="breadcrumb-item active" aria-current="page">New Organization</li>
  </ol>
</nav>

<h1>New organization</h1>

<%= render "form", organization: @organization %>

<br>

<div>
  <%= link_to "Back to organizations", organizations_path %>
</div>
