<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>Invitation Token Invalid</h1>

    <p>That invitation token is invalid, or has already been used.</p>
  </div>
</div>
