<table class="table table-bordered mb-5">
  <thead>
    <tr>
      <th class="col-3">Name</th>
      <th class="col-3">Role</th>
      <th class="col-3">Status</th>
      <th class="col-2">Added</th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <% @memberships_and_invitations.each do |object| %>
      <% if object.kind_of? SimpleTeams::Membership %>
        <%= render "simple_teams/memberships/membership", :team => @team, :membership => object %>
      <% elsif object.kind_of? SimpleTeams::Invitation %>
        <%= render "simple_teams/invitations/invitation", :team => @team, :invitation => object %>
      <% end %>
    <% end %>
  </tbody>
</table>
