<div class="centered-content-template">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= team_path(@team) %>"><%= @team.name %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Member</li>
    </ol>
  </nav>

  <h1>Edit Member: <%= @membership.member.full_name %></h1>

  <%= render "form", membership: @membership %>
</div>
