<div class="centered-content-template">
  <%= render "simple_teams/nested_action_breadcrumb", :current_page_name => "Edit Member" %>

  <h1>Edit Member: <%= @membership.member.full_name %></h1>

  <%= render "form", membership: @membership %>
</div>
