<div class="centered-content-template">
  <%= render "simple_teams/nested_action_breadcrumb", :current_page_name => "Update Invitation" %>

  <h1>Update Invitation</h1>

  <%= render "form", invitation: @invitation %>
</div>
