<div class="centered-content-template">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to @team.teamable.class.model_name.human(count: 2), main_app.url_for(@team.teamable.class) %></li>
      <li class="breadcrumb-item"><%= link_to @team.teamable.name, main_app.url_for(@team.teamable) %></li>
      <li class="breadcrumb-item"><%= link_to "Members", @team %></li>
      <li class="breadcrumb-item active" aria-current="page">Update Invitation</li>
    </ol>
  </nav>

  <h1>Update Invitation</h1>

  <%= render "form", invitation: @invitation %>
</div>
