<div class="centered-content-template">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= team_path(@team) %>"><%= @team.name %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Invite User</li>
    </ol>
  </nav>

  <h1>Invite Users</h1>

  <%= render "bulk_form", invitation: @invitation %>
</div>
