<div class="centered-content-template">
  <%= render "simple_teams/nested_action_breadcrumb", :current_page_name => "Invite Users" %>

  <h1>Invite Users</h1>

  <%= render "bulk_form", invitation: @invitation %>
</div>
