<!-- Role Legend Modal -->
<div class="modal fade" id="role-legend-modal" tabindex="-1" aria-labelledby="role-legend-modal-label" aria-hidden="true" data-form-url='<%= new_contact_form_submission_path %>'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="role-legend-modal-label">Role Explanations</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl>
          <% Teams::Membership.roles.each do |name, id| %>
            <dt class="col"><b><%= name.capitalize %></b></dt>
            <dd class="col"><%= t "teams.roles.#{name}" %></dd>
          <% end %>
        </dl>

        <%= render "teams/role_legend_footnote" %>
      </div>
    </div>
  </div>
</div>
