<!-- Role Legend Link -->
<button type="button" id="role-legend-button" class="btn btn-link legend-modal-link" data-bs-toggle="modal" data-bs-target="#role-legend-modal" aria-label="Role Explanations">
  ?
</button>
